/* Typography utilities
   ========================================================================== */

/**
 * Headings
 */

.u-textHeading1 {
    font-family: var(--font-family-proportional-light) !important;
    font-size: var(--font-size-mega) !important;
    font-weight: 300 !important;
}

.u-textHeading2 {
    font-family: var(--font-family-proportional-light) !important;
    font-size: var(--font-size-x-large) !important;
    font-weight: 300 !important;
}

.u-textHeading3 {
    font-family: var(--font-family-proportional) !important;
    font-size: var(--font-size-large) !important;
    font-weight: 400 !important;
}

.u-textHeading4 {
    font-family: var(--font-family-proportional-semibold) !important;
    font-size: var(--font-size) !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.u-textHeading5 {
    font-family: var(--font-family-proportional-semibold) !important;
    font-size: var(--font-size-small) !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.u-textHeading6 {
    font-family: var(--font-family-proportional-semibold) !important;
    font-size: var(--font-size-x-small) !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

/**
 * Weights
 *
 */

.u-textLight {
    font-family: var(--font-family-proportional-light) !important;
    font-weight: 300 !important;
}

.u-textRegular {
    font-family: var(--font-family-proportional) !important;
    font-weight: 400 !important;
}

.u-textSemibold {
    font-family: var(--font-family-proportional-semibold) !important;
    font-weight: 500 !important;
}

.u-textBold {
    font-family: var(--font-family-proportional) !important;
    font-weight: 700 !important;
}

/**
 * Default type
 */

.u-textDefault {
    font-size: var(--font-size) !important;
}

/**
 * Large type
 */

.u-textLarge {
    font-size: var(--font-size-large) !important;
}

/**
 * Extra large type
 */

.u-textXLarge {
    font-size: var(--font-size-x-large) !important;
}

/**
 * Small type
 */

.u-textSmall {
    font-size: var(--font-size-small) !important;
}

/**
 * Extra small type
 */

.u-textXSmall {
    font-size: var(--font-size-x-small) !important;
}

/**
 * Mega type
 */

.u-textMega {
    font-size: var(--font-size-mega) !important;
}

/**
 * Monospaced type
 *
 * For explicit monospaced type.
 */

.u-textMonospaced {
    font-family: var(--font-family-monospaced) !important;
}

/**
 * Code type
 *
 * For inline code.
 */
.u-textCode {
    background: var(--color-gray-mystic) !important;
    border-radius: 3px !important;
    display: inline-block !important;
    padding: 0.15em 0.5em 0 !important;
    white-space: nowrap !important;
}

/**
 * Label type
 *
 * For form labels.
 */

.u-textLabel {
    font-size: var(--font-size-small) !important;
}

/**
 * Legend type
 *
 * For form labels.
 */

.u-textLegend {
    text-transform: uppercase;
}

/**
 * Tabular numbers
 */
.u-textTabularNums {
    font-kerning: normal !important;
    font-variant-numeric: tabular-nums !important;
}
