/* Size utilities
     ========================================================================== */

@media (--md-viewport) {

    .u-sizeFull {
        flex: none !important;
        width: 100% !important;
    }

    .u-size1of2 {
        flex: none !important;
        width: 50% !important;
    }

    .u-size1of3 {
        flex: none !important;
        width: 33.3333% !important;
    }

    .u-size2of3 {
        flex: none !important;
        width: 66.6667% !important;
    }

    .u-size1of4 {
        flex: none !important;
        width: 25% !important;
    }

    .u-size3of4 {
        flex: none !important;
        width: 75% !important;
    }

}
