/**
 * Styleguide
 *
 * Components and helpers used for styleguide app
 */


/* Utilities
   ========================================================================== */


/**
 * Styleguide heading
 *
 * Designed to be distinct from product headings.
 */
.u-headingStyleguide {
    color: var(--colour-gray-shark);
    font-weight: 700;
    border-bottom: 1px solid var(--colour-gray-shark);
    width: 100%;
    text-transform: uppercase;
}
