/** @define Article; use strict */

/**
 * Article
 */

:root {
    --Article--styleGuide-outline: var(--color-gray-regent);
}

.Article--styleGuide {
    outline: 1px solid var(--Article--styleGuide-outline);
    padding: 1em;
}

.Article--styleGuide + .Article--styleGuide {
    margin-top: 1em;
}
