/** @define Badge; use strict */

/**
 * The `.Badge` component consists of two mandatory descendents:
 *
 * - body: either an icon or numeral.
 * - detail: a text description.
 *
 * One state is available: `.is-collapsed`, which displays detail on hover.
 *
 * Two groups of modifiers are available:
 *
 * - `--warning`: warning count messages.
 * - `--statusName`: status messages.
 */

:root {
    --Badge-border-radius: 500px;
    --Badge-border-width: 1px;
    --Badge-details-offset: 1.4em;
    --Badge-font-size: var(--font-size-small);
    --Badge-padding-bottom: 3px;
    --Badge-padding-horizontal: 12px;
    --Badge-padding-top: 4px;
}

/**
 * 1. Reduce `font-size` for whole component. All component space calculations derived from this.
 * 2. Force `border-radius` into pill. See: http://stackoverflow.com/a/18795153/2270732
 * 3. Hide left edge of detail under body.
 * 4. Use more appropriate help-style cursor.
 * 5. Hide and show body.
 * 6. Move body out of flow on collapsed state.
 */

.Badge {
    font-size: var(--Badge-font-size); /* 1 */
    font-weight: bold;
    opacity: 0.99;
    white-space: nowrap;
}

.Badge-body {
    border: var(--Badge-border-width) solid;
    border-radius: var(--Badge-border-radius); /* 2 */
    display: inline-block;
    padding: var(--Badge-padding-top) var(--Badge-padding-horizontal) var(--Badge-padding-bottom);
    position: relative; /* 3 */
}

.Badge-details {
    border: var(--Badge-border-width) solid;
    border-bottom-right-radius: var(--Badge-border-radius); /* 2 */
    border-top-right-radius: var(--Badge-border-radius); /* 2 */
    display: inline-block;
    margin-left: calc(-var(--Badge-details-offset) + 0.1em);
    padding: var(--Badge-padding-top) var(--Badge-padding-horizontal) var(--Badge-padding-bottom) var(--Badge-details-offset);
    position: relative; /* 3 */
    z-index: -1; /* 3 */
}

/**
 * Collapsed state
 */

.Badge.is-collapsed .Badge-body {
    cursor: help; /* 4 */
}

.Badge.is-collapsed .Badge-details {
    display: none; /* 5 */
    position: absolute; /* 6 */
}

.Badge.is-collapsed:hover .Badge-details,
.Badge.is-collapsed:focus .Badge-details {
    display: inline-block; /* 5 */
}

/**
 * Warning
 */

:root {
    --Badge--warning-accent: var(--colour-orange-accent);
    --Badge--warning-base: var(--colour-orange-base);
    --Badge--warning-body-colour: var(--colour-white);
}

.Badge--warning .Badge-body {
    background: var(--Badge--warning-base);
    border-color: var(--Badge--warning-base);
    color: var(--Badge--warning-body-colour);
}

.Badge--warning .Badge-details {
    background: var(--Badge--warning-accent);
    border-color: var(--Badge--warning-base);
    color: var(--Badge--warning-base);
}

/**
 * Status Incomplete modifier
 */

:root {
    --Badge--statusIncomplete-accent: var(--colour-blue-accent);
    --Badge--statusIncomplete-base: var(--colour-blue-base);
}

.Badge--statusIncomplete .Badge-body {
    background: var(--Badge--statusIncomplete-base) url("../images/Badge--statusIncomplete.svg") no-repeat center center;
    border-color: var(--Badge--statusIncomplete-base);
}

.Badge--statusIncomplete .Badge-details {
    background: var(--Badge--statusIncomplete-accent);
    border-color: var(--Badge--statusIncomplete-base);
    color: var(--Badge--statusIncomplete-base);
}

/**
 * Status Live modifier
 */

:root {
    --Badge--statusLive-accent: var(--colour-status-live-accent);
    --Badge--statusLive-base: var(--colour-status-live-base);
}

.Badge--statusLive .Badge-body {
    background: var(--Badge--statusLive-base) url("../images/Badge--statusLive.svg") no-repeat center center;
    border-color: var(--Badge--statusLive-base);
}

.Badge--statusLive .Badge-details {
    background: var(--Badge--statusLive-accent);
    border-color: var(--Badge--statusLive-base);
    color: var(--Badge--statusLive-base);
}

/**
 * Status Pending modifier
 */

:root {
    --Badge--statusPending-accent: var(--colour-status-pending-accent);
    --Badge--statusPending-base: var(--colour-status-pending-base);
}

.Badge--statusPending .Badge-body {
    background: var(--Badge--statusPending-base) url("../images/Badge--statusPending.svg") no-repeat center center;
    border-color: var(--Badge--statusPending-base);
}

.Badge--statusPending .Badge-details {
    background: var(--Badge--statusPending-accent);
    border-color: var(--Badge--statusPending-base);
    color: var(--Badge--statusPending-base);
}

/**
 * Status Paused modifier
 */

:root {
    --Badge--statusPaused-accent: var(--colour-status-paused-accent);
    --Badge--statusPaused-base: var(--colour-status-paused-base);
}

.Badge--statusPaused .Badge-body {
    background: var(--Badge--statusPaused-base) url("../images/Badge--statusPaused.svg") no-repeat center center;
    border-color: var(--Badge--statusPaused-base);
}

.Badge--statusPaused .Badge-details {
    background: var(--Badge--statusPaused-accent);
    border-color: var(--Badge--statusPaused-base);
    color: var(--Badge--statusPaused-base);
}

/**
 * Status Finished modifier
 */

:root {
    --Badge--statusFinished-accent: var(--colour-status-finished-accent);
    --Badge--statusFinished-base: var(--colour-status-finished-base);
}

.Badge--statusFinished .Badge-body {
    background: var(--Badge--statusFinished-base) url("../images/Badge--statusFinished.svg") no-repeat center center;
    border-color: var(--Badge--statusFinished-base);
}

.Badge--statusFinished .Badge-details {
    background: var(--Badge--statusFinished-accent);
    border-color: var(--Badge--statusFinished-base);
    color: var(--Badge--statusFinished-base);
}
