/** @define ComponentView; use strict */

/**
 * The `.ComponentView` component wraps a rendered component in Style Guide.
 */

:root {
    --ComponentView-background: var(--color-white-catskill);
}

.ComponentView {
    background: var(--ComponentView-background);
    padding: 1em 0.5em;
}

.ComponentView > * {
    margin: 1em 0;
}

.ComponentView--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
