/** @define Copy; use strict */

/**
 * Copy
 *
 * Wrapper for blocks of copy. This approach avoids having to set margins on
 * elements at the root level, reducing countless resets.
 *
 * Note that styles from some other basic modules will be duplicated in `.Copy`. These module styles should *not* be
 * applied within `.Copy` blocks.
 */

/**
 * Lobotomized owl
 *
 * See: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
.Copy * + * {
    margin-top: 1.6rem;
}

/**
 * Heading follow-on fix
 */
.Copy h1 + h2,
.Copy h2 + h3,
.Copy h3 + h4,
.Copy h4 + h5,
.Copy h5 + h6 {
    margin-top: 0;
}

/**
 * Unordered list
 *
 * Set up margins and styling on lists within .Copy. Used too often outside this
 * context to have much default styling.
 */
.Copy ul li {
    list-style-type: disc;
    margin-left: 1.8em;
}

.Copy li + li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.Copy li > ul {
    margin-top: 0.5em; /* fixes nested unordered list */
}

/**
 * Ordered list
 */
.Copy li > ol {
    margin-top: 1.6rem; /* fixes nested ordred list */
}

/**
 * Definition list
 */
.Copy dd {
    margin-top: 0;
}
