/** @define Warning; use strict */

/**
 * The `.Warning` component displays a serious of warnings in a list structure. Each message consists of a simple text
 message with a contextual link, followed by a single action.
 */

:root {
    --Warning-background: var(--colour-orange-accent);
    --Warning-border: var(--colour-orange-base);
    --Warning-color: var(--colour-gray-tuna);
}

/**
 * 1. Force margin after module
 * 2. Prevent message and action wrapping onto separate lines
 * 3. Consistent spacing between all items bar last
 * 4. Enlarge link target area
 */

.Warning {
    margin-bottom: 1em; /* 1 */
}

.Warning-item {
    background: var(--Warning-background);
    border: 1px solid var(--Warning-border);
    color: var(--Warning-color);
    display: flex;
    flex-wrap: nowrap; /* 2 */
    padding: 0.75em 0;
}

.Warning-item:not(:last-child) {
    margin-bottom: 0.5em; /* 3 */
}

.Warning-itemMessage {
    color: var(--Warning-color);
    cursor: pointer;
    margin: auto 1em auto 1em;
    text-decoration: none;
}

.Warning-itemMessage:hover,
.Warning-itemMessage:focus {
    color: var(--Warning-color);
    text-decoration: underline;
}

.Warning-itemAction {
    align-self: flex-end;
    display: block;
    flex: none;
    margin: 0 0.5em auto auto;
    padding: 0.25em 0.5em; /* 4 */
}
