/** @define RawHTML; use strict */

/**
 * RawHTML
 *
 * Wrapper for blocks of raw, class-free HTML.
 */

/**
 * Lobotomized owl
 *
 * See: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
.RawHTML * + * {
    margin-top: 1.6rem;
}

/**
 * Headings
 */

.RawHTML h1 {
    font-family: var(--font-family-proportional-light);
    font-size: 3.2rem;
    font-weight: 300;
}

.RawHTML h2 {
    font-family: var(--font-family-proportional-light);
    font-size: 2.5rem;
    font-weight: 300;
}

.RawHTML h3 {
    font-family: var(--font-family-proportional);
    font-size: 1.9rem;
    font-weight: 400;
}

.RawHTML h4 {
    font-family: var(--font-family-proportional-semibold);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.RawHTML h5 {
    font-family: var(--font-family-proportional-semibold);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.RawHTML h6 {
    font-family: var(--font-family-proportional-semibold);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

/**
 * Fix heading + heading spacing
 */
.RawHTML h1 + h2,
.RawHTML h2 + h3,
.RawHTML h3 + h4,
.RawHTML h4 + h5,
.RawHTML h5 + h6 {
    margin-top: 0;
}

/**
 * Blockquote
 *
 * Blockquotes have a keyline with spacing added to the left.
 *
 * There are currently no specific styles for `<q>`. Rely on browser defaults.
 * All supported browsers should automatically add appropriate quotemarks.
 */
.RawHTML blockquote {
    border-left: 0.25em solid var(--colour-base-highlight);
    padding-left: 1em;
}

/**
 * Unordered list
 *
 * Set up margins and styling on lists within .RawHTML. Used too often outside this
 * context to have much default styling.
 */
.RawHTML ul li {
    list-style-type: disc;
    margin-left: 1.8em;
}

.RawHTML li + li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.RawHTML li > ul {
    margin-top: 0.5em; /* fixes nested unordered list */
}

/**
 * Ordered list
 */
.RawHTML ol {
    margin-left: 0;
}

.RawHTML ol li {
    list-style-type: decimal;
    margin-left: 1.8em;
}

.RawHTML li > ol {
    margin-top: 1.6rem; /* fixes nested ordred list */
}

/**
 * Definition list
 */
.RawHTML dt {
    font-family: var(--font-family-proportional-semibold);
}

.RawHTML dd {
    margin-top: 0;
}

/**
 * Table
 */
.RawHTML table {
    width: 100%;
}

.RawHTML th,
.RawHTML td {
    padding: 0.5em 0.8125em;
    text-align: left;
}

.RawHTML thead {
    border-bottom: 1px solid var(--colour-brand-green);
}

.RawHTML thead td {
    font-family: var(--font-family-proportional-semibold);
    font-size: var(--font-size-small);
}

/* Zebra striping */
.RawHTML tbody tr:nth-child(odd) {
    background: var(--colour-white-alabaster);
}

.RawHTML tbody tr:hover {
    background: var(--colour-green-accent);
    outline: 1px solid var(--colour-green-base);
}

/**
 * Code
 *
 * Duplicates styles from `.Code`.
 */

/**
 * Inline code
 */
.RawHTML code {
    background: var(--colour-code-background);
    border-radius: 3px;
    padding: 4px 2px 3px;
}

/**
 * Block code
 */
.RawHTML pre {
    background: var(--colour-gray-mystic);
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em 1em 0;
}

.RawHTML pre code {
    background: none;
    direction: ltr;
    display: inline-block;
    padding: 0;
    text-align: left;
}
