/**
 * Styleguide
 *
 * Components and helpers used for styleguide app
 */


/* Utilities
   ========================================================================== */


/**
 * Styleguide heading
 *
 * Designed to be distinct from product headings.
 */
.u-headingStyleguide {
    color: var(--colour-gray-shark);
    font-weight: 700;
    border-bottom: 1px solid var(--colour-gray-shark);
    width: 100%;
    text-transform: uppercase;
}


/* Components
   ========================================================================== */


/** @define StyleguideNav; use strict */

/**
 * StyleguideNav
 *
 * Temporary jumplist for styleguide.
 */
.StyleguideNav {
    margin-bottom: 1.6em;
}

.StyleguideNav-items {
    margin-left: .4em;
}

.StyleguideNav-item {
    margin-left: 1.6em;
    list-style-type: decimal;
}

.StyleguideNav-item .StyleguideNav-item {
    list-style-type: lower-roman;
}


/** @define Swatch; use strict */

/**
 * Swatch
 *
 * Palette boxes to show colours.
 */
.Swatch {
    display: inline-block;
    text-align: center;
}

.Swatch-colour {
    display: block;
    height: 4em;
    width: 8em;
    border: 1px solid var(--colour-gray-regent);
}

.Swatch-body {
    text-align: center;
}
