/** @define Article; use strict */

/**
 * Article
 */

:root {
    --Article-outline: var(--colour-gray-regent);
}

.Article {
    outline: 1px solid var(--Article-outline);
    padding: 1em;
}

.Article + .Article {
    margin-top: 1em;
}
