/** @define TableOfContents; use strict */

/**
 * TableOfContents
 *
 * Temporary jumplist for styleguide.
 */

.TableOfContents {
    margin: 2em var(--layout-gutter);
}

.TableOfContents-items {
    margin-left: 0.4em;
}

.TableOfContents-item {
    list-style-type: decimal;
    margin-left: 1.6em;
}
