/**
 * Variables
 */

/**
 * Layout
 */

:root {
    --layout-gutter: 1.666666667%;
}

/**
 * Colours
 *
 * All colour definitions should be made with rgb(a), with equivalent hex value following in comments for ease of
 * look-up.
 *
 * Neutral names from: http://chir.ag/projects/name-that-color/
 * Hex to RGBA converter: http://hex2rgba.devoth.com/
 */

/**
 * Utility colours
 */

:root {
    --color-lightbox: rgba(1, 1, 1, 0.8);
    --color-moz-focusring: rgba(33, 33, 33, 1); /* #212121 */
    --color-shadow: rgba(1, 1, 1, 0.1);
    --color-transparent: rgba(0, 0, 0, 0);
}

/**
 * Dark neutral palette
 */

:root {
    --color-gray-regent: rgba(141, 150, 163, 1); /* #8d96a3 */
    --color-gray-shark: rgba(29, 31, 35, 1); /* #1d1f23 */
    --color-gray-trout: rgba(77, 81, 91, 1); /* #4d515b */
    --color-gray-tuna: rgba(53, 53, 58, 1); /* #35353a */
}

/**
 * Light neutral palette
 */

:root {
    --color-gray-ghost: rgba(196, 204, 215, 1); /* #c4ccd7 */
    --color-gray-mystic: rgba(220, 227, 235, 1); /* #dce3eb */
    --color-white: rgba(255, 255, 255, 1); /* #fff */
    --color-white-alabaster: rgba(252, 252, 252, 1); /* #fcfcfc */
    --color-white-catskill: rgba(244, 247, 250, 1); /* #f4f7fa */
}

/**
 * Green palette
 */

:root {
    --color-green-accent: rgba(223, 249, 237, 1); /* #dff9ed */
    --color-green-base: rgba(62, 185, 128, 1); /* #3eb980 */
    --color-green-hover: rgba(53, 171, 116, 1); /* #35ab74 */
    --color-green-shadow: rgba(41, 150, 99, 1); /* #299663 */
}

/**
 * Blue palette
 */

:root {
    --color-blue-accent: rgba(222, 240, 249, 1); /* #def0f9 */
    --color-blue-base: rgba(7, 153, 220, 1); /* #0799dc */
    --color-blue-hover: rgba(6, 141, 203, 1); /* #068dcb */
    --color-blue-shadow: rgba(4, 124, 180, 1); /* #047cb4 */
}

/**
 * Orange palette
 */

:root {
    --color-orange-accent: rgba(247, 238, 223, 1); /* #f7eedf */
    --color-orange-base: rgba(234, 145, 58, 1); /* #ea913a */
    --color-orange-hover: rgba(218, 133, 50, 1); /* #da8532 */
    --color-orange-shadow: rgba(202, 121, 42, 1); /* #ca792a */
}

/**
 * Red palette
 */

:root {
    --color-red-accent: rgba(247, 228, 228, 1); /* #f7e4e4 */
    --color-red-base: rgba(213, 79, 79, 1); /* #d54f4f */
    --color-red-hover: rgba(197, 67, 67, 1); /* #c54343 */
    --color-red-shadow: rgba(183, 57, 57, 1); /* #b73939 */
}

/**
 * Brand
 */

:root {
    --color-brand-blue: rgba(32, 216, 229, 1); /* #20d8e5 */
    --color-brand-green: rgba(47, 234, 166, 1); /* #2feaa6 */
    --color-brand-pink: rgba(255, 72, 138, 1); /* #ff488a */
}

/**
 * Functional colours
 */

/**
 * General
 */

:root {
    --color-base-background: var(--color-white-catskill);
    --color-base-font: var(--color-gray-tuna);
    --color-base-highlight: var(--color-green-base);
    --color-base-link-default: var(--color-blue-base);
    --color-base-link-hover: var(--color-blue-hover);
    --color-code-background: var(--color-gray-mystic);
}

/**
 * Form
 */

:root {
    --color-form-field-background: var(--color-white);
}

/**
 * Actions
 */

:root {
    --color-action-danger: var(--color-green-base);
    --color-action-neutral: var(--color-green-base);
    --color-action-positive: var(--color-green-base);
    --color-action-warning: var(--color-green-base);
}

/**
 * Campaign States
 */

:root {
    --color-status-finished-accent: var(--color-gray-mystic);
    --color-status-finished-base: var(--color-gray-shark);
    --color-status-incomplete-accent: var(--color-blue-accent);
    --color-status-incomplete-base: var(--color-blue-base);
    --color-status-live-accent: var(--color-green-accent);
    --color-status-live-base: var(--color-green-base);
    --color-status-paused-accent: var(--color-red-accent);
    --color-status-paused-base: var(--color-red-base);
    --color-status-pending-accent: var(--color-orange-accent);
    --color-status-pending-base: var(--color-orange-base);
    --color-status-ready-accent: var(--color-green-accent);
    --color-status-ready-base: var(--color-green-base);
    --color-status-scheduled-accent: var(--color-orange-accent);
    --color-status-scheduled-base: var(--color-orange-base);
}

/**
 * Typography
 */

:root {
    --font-family-monospaced: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-family-proportional: "ProximaNova", sans-serif;
    --font-family-proportional-light: "ProximaNova-Light", sans-serif;
    --font-family-proportional-semibold: "ProximaNova-Semibold", sans-serif;
    --font-size-mega: 2.4rem;
    --font-size-x-large: 2rem;
    --font-size-large: 1.8rem;
    --font-size: 1.4rem;
    --font-size-small: 1.2rem;
    --line-height: 1.5;
    --line-height-looser: 1.8;
    --line-height-tighter: 1.4;
}

/**
 * Effects
 */

:root {
    --effect-box-shadow: 0 0 1.5em 0.5em var(--color-shadow);
}

/**
 * Stacking
 */

:root {
    --stacking-page: auto; /* implicit */
    --stacking-user: auto;  /* implicit */
    --stacking-page-loader: 10;
    --stacking-overlay-panel: 20;
    --stacking-overlay-panel-tools: 30;
    --stacking-overlay-panel-loader: 40;
    --stacking-overlay-modal: 80;
    --stacking-overlay-modeless: 90;
}
