/**
 * Variables
 */

/**
 * Layout
 */

:root {
    --layout-gutter: 1.666666667%;
}

/**
 * Colours
 *
 * All colour definitions should be made with rgb(a), with equivalent hex value following in comments for ease of
 * look-up.
 *
 * Neutral names from: http://chir.ag/projects/name-that-color/
 * Hex to RGBA converter: http://hex2rgba.devoth.com/
 */

/**
 * Utility colours
 */

:root {
    --color-moz-focusring: rgba(33, 33, 33, 1); /* #212121 */
    --color-transparent: rgba(0, 0, 0, 0);
}

/**
 * Dark neutral palette
 */

:root {
    --color-gray-regent: rgba(141, 150, 163, 1); /* #8d96a3 */
    --color-gray-shark: rgba(29, 31, 35, 1); /* #1d1f23 */
    --color-gray-trout: rgba(77, 81, 91, 1); /* #4d515b */
    --color-gray-tuna: rgba(53, 53, 58, 1); /* #35353a */
}

/**
 * Light neutral palette
 */

:root {
    --color-gray-ghost: rgba(196, 204, 215, 1); /* #c4ccd7 */
    --color-gray-mystic: rgba(220, 227, 235, 1); /* #dce3eb */
    --color-white: rgba(255, 255, 255, 1); /* #fff */
    --color-white-alabaster: rgba(252, 252, 252, 1); /* #fcfcfc */
    --color-white-catskill: rgba(241, 244, 248, 1); /* #f1f4f8 */
}

/**
 * Green palette
 */

:root {
    --color-green-accent: rgba(232, 246, 241, 1); /* #d5f0e5 */
    --color-green-base: rgba(57, 190, 137, 1); /* #39be89 */
    --color-green-hover: rgba(48, 172, 123, 1); /* #30ac7b */
    --color-green-shadow: rgba(44, 147, 106, 1); /* #2c936a */
}

/**
 * Blue palette
 */

:root {
    --color-blue-accent: rgba(241, 245, 250, 1); /* #d8e6f7 */
    --color-blue-base: rgba(70, 142, 228, 1); /* #468ee4 */
    --color-blue-hover: rgba(58, 123, 201, 1); /* #3a7bc9 */
    --color-blue-shadow: rgba(44, 96, 158, 1); /* #2c609e */
}

/**
 * Orange palette
 */

:root {
    --color-orange-accent: rgba(249, 239, 229, 1); /* #f9e7d6 */
    --color-orange-base: rgba(237, 148, 60, 1); /* #ed943c */
    --color-orange-hover: rgba(211, 130, 50, 1); /* #d38232 */
    --color-orange-shadow: rgba(181, 111, 42, 1); /* #b56f2a */
}

/**
 * Red palette
 */

:root {
    --color-red-accent: rgba(250, 235, 235, 1); /* #f0d8d8 */
    --color-red-base: rgba(194, 74, 74, 1); /* #c24a4a */
    --color-red-hover: rgba(177, 63, 63, 1); /* #b13f3f */
    --color-red-shadow: rgba(158, 54, 54, 1); /* #9e3636 */
}

/**
 * Functional colours
 */

/**
 * General
 */

:root {
    --color-base-background: var(--color-white-catskill);
    --color-base-font: var(--color-gray-tuna);
    --color-base-highlight: var(--color-green-base);
    --color-base-link-default: var(--color-blue-base);
    --color-base-link-hover: var(--color-blue-hover);
    --color-code-background: var(--color-gray-mystic);
}

/**
 * Form
 */

:root {
    --color-form-field-background: var(--color-white);
}

/**
 * Brand
 */

:root {
    --color-brand-gray: var(--color-gray-tuna);
    --color-brand-green: var(--color-green-base);
}

/**
 * Actions
 */

:root {
    --color-action-danger: var(--color-green-base);
    --color-action-neutral: var(--color-green-base);
    --color-action-positive: var(--color-green-base);
    --color-action-warning: var(--color-green-base);
}

/**
 * Campaign States
 */

:root {
    --color-status-finished-accent: var(--color-gray-mystic);
    --color-status-finished-base: var(--color-gray-shark);
    --color-status-incomplete-accent: var(--color-blue-accent);
    --color-status-incomplete-base: var(--color-blue-base);
    --color-status-live-accent: var(--color-green-accent);
    --color-status-live-base: var(--color-green-base);
    --color-status-paused-accent: var(--color-red-accent);
    --color-status-paused-base: var(--color-red-base);
    --color-status-pending-accent: var(--color-orange-accent);
    --color-status-pending-base: var(--color-orange-base);
}

/**
 * Typography
 */

:root {
    --font-family-monospaced: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-family-proportional: "ProximaNova", sans-serif;
    --font-family-proportional-light: "ProximaNova-Light", sans-serif;
    --font-family-proportional-semibold: "ProximaNova-Semibold", sans-serif;
    --font-size: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-small: 1.4rem;
    --font-size-x-small: 1.2rem;
    --line-height: 1.5;
    --line-height-looser: 1.8;
    --line-height-tighter: 1.4;
}
