/**
 * Colours
 *
 * Defining colours.
 */

/**
* Descriptive colours
*/

/**
* Neutral palette
* Names from: http://chir.ag/projects/name-that-color/
*/
:root {
    --colour-gray-shark: rgba(31, 31, 31, 1.0);
    --colour-gray-tuna: rgba(54, 54, 54, 1.0);
    --colour-gray-trout: rgba(78, 78, 78, 1.0);
    --colour-gray-regent: rgba(142, 142, 142, 1.0);
    --colour-gray-ghost: rgba(198, 198, 198, 1.0);
    --colour-gray-mystic: rgba(220, 220, 220, 1.0);
    --colour-white-catskill: rgba(220, 220, 220, 1.0);
    --colour-white-alabaster: rgba(253, 253, 253, 1.0);
    --colour-white: rgba(255, 255, 255, 1.0);
}

/**
* Green palette
*/
:root {
    --colour-green-accent: rgba(233, 246, 242, 1);
    --colour-green-base: rgba(56, 188, 136, 1);
    --colour-green-hover: rgba(48, 172, 123, 1);
    --colour-green-shadow: rgba(43, 145, 105, 1);
}

/**
* Blue palette
*/
:root {
    --colour-blue-accent: rgba(240, 244, 250, 1);
    --colour-blue-base: rgba(68, 140, 228, 1);
    --colour-blue-hover: rgba(58, 123, 201, 1);
    --colour-blue-shadow: rgba(45, 96, 159, 1);
}

/**
* Orange palette
*/
:root {
    --colour-orange-accent: rgba(249, 240, 230, 1);
    --colour-orange-base: rgba(237, 148, 59, 1);
    --colour-orange-hover: rgba(211, 130, 50, 1);
    --colour-orange-shadow: rgba(182, 112, 43, 1);
}

/**
* Red palette
*/
:root {
    --colour-red-accent: rgba(250, 235, 235, 1);
    --colour-red-base: rgba(195, 75, 75, 1);
    --colour-red-hover: rgba(177, 63, 63, 1);
    --colour-red-shadow: rgba(160, 55, 55, 1);
}

/* Descriptive background colour utility classes
   ========================================================================== */

.u-colourBgGrayShark { background: var(--colour-gray-shark); };
.u-colourBgGrayTuna { background: var(--colour-gray-tuna); };
.u-colourBgGrayTrout { background: var(--colour-gray-trout); };
.u-colourBgGrayRegent { background: var(--colour-gray-regent); };
.u-colourBgGrayGhost { background: var(--colour-gray-ghost); };
.u-colourBgGrayMystic { background: var(--colour-gray-mystic); };
.u-colourBgWhiteCatskill { background: var(--colour-white-catskill); };
.u-colourBgWhiteAlabaster { background: var(--colour-white-alabaster); };
.u-colourBgWhite { background: var(--colour-white); };
.u-colourBgGreenAccent { background: var(--colour-green-accent); };
.u-colourBgGreenBase { background: var(--colour-green-base); };
.u-colourBgGreenHover { background: var(--colour-green-hover); };
.u-colourBgGreenShadow { background: var(--colour-green-shadow); };
.u-colourBgBlueAccent { background: var(--colour-blue-accent); };
.u-colourBgBlueBase { background: var(--colour-blue-base); };
.u-colourBgBlueHover { background: var(--colour-blue-hover); };
.u-colourBgBlueShadow { background: var(--colour-blue-shadow); };
.u-colourBgOrangeAccent { background: var(--colour-orange-accent); };
.u-colourBgOrangeBase { background: var(--colour-orange-base); };
.u-colourBgOrangeHover { background: var(--colour-orange-hover); };
.u-colourBgOrangeShadow { background: var(--colour-orange-shadow); };
.u-colourBgRedAccent { background: var(--colour-red-accent); }
.u-colourBgRedBase { background: var(--colour-red-base); }
.u-colourBgRedHover { background: var(--colour-red-hover); }
.u-colourBgRedShadow { background: var(--colour-red-shadow); }

/**
* Functional colours
*/
:root {
    --colour-brand-green: var(--colour-green-base);
    --colour-brand-gray: var(--colour-gray-tuna);
    --colour-base-font: var(--colour-gray-tuna);
    --colour-base-background: var(--colour-white-alabaster);
    --colour-base-link-default: var(--colour-blue-base);
    --colour-base-link-hover: var(--colour-blue-hover);
    --colour-form-field-background: var(--colour-white);
}

/* Functional colour utility classes
   ========================================================================== */

.u-colourBgBrandGreen { background: var(--colour-green-base); }
.u-colourBgBrandGray { background: var(--colour-gray-tuna); }
.u-colourBgBaseFont { background: var(--colour-gray-tuna); }
.u-colourBgBaseBackground { background: var(--colour-white-alabaster); }
.u-colourBgBaseLinkDefault { background: var(--colour-blue-base); }
.u-colourBgBaseLinkHover { background: var(--colour-blue-shadow); }
.u-colourBgFieldBackground { background: var(--colour-white); }

/**
* Base colours
*/
body {
    background: var(--colour-base-background);
    color: var(--colour-base-font);
}
