/**
 * Colours
 *
 * Defining colours.
 */

/**
* Descriptive colours
*/

/**
* Neutral palette
* Names from: http://chir.ag/projects/name-that-color/
* Hex to RGBA converter: http://hex2rgba.devoth.com/
*/
:root {
    --colour-gray-shark: rgba(29, 31, 35, 1.0);
    --colour-gray-tuna: rgba(53, 53, 58, 1.0);
    --colour-gray-trout: rgba(77, 81, 91, 1.0);
    --colour-gray-regent: rgba(141, 150, 163, 1.0);
    --colour-gray-ghost: rgba(196, 204, 215, 1.0);
    --colour-gray-mystic: rgba(220, 227, 235, 1.0);
    --colour-white-catskill: rgba(241, 244, 248, 1.0);
    --colour-white-alabaster: rgba(252, 252, 252, 1.0);
    --colour-white: rgba(255, 255, 255, 1.0);
}

/**
* Green palette
*/
:root {
    --colour-green-accent: rgba(232, 246, 241, 1.0);
    --colour-green-base: rgba(57, 190, 137, 1.0);
    --colour-green-hover: rgba(48, 172, 123, 1.0);
    --colour-green-shadow: rgba(44, 147, 106, 1.0);
}

/**
* Blue palette
*/
:root {
    --colour-blue-accent: rgba(241, 245, 250, 1.0);
    --colour-blue-base: rgba(70, 142, 228, 1.0);
    --colour-blue-hover: rgba(58, 123, 201, 1.0);
    --colour-blue-shadow: rgba(44, 96, 158, 1.0);
}

/**
* Orange palette
*/
:root {
    --colour-orange-accent: rgba(249, 239, 229, 1.0);
    --colour-orange-base: rgba(237, 148, 60, 1.0);
    --colour-orange-hover: rgba(211, 130, 50, 1.0);
    --colour-orange-shadow: rgba(181, 111, 42, 1.0);
}

/**
* Red palette
*/
:root {
    --colour-red-accent: rgba(250, 235, 235, 1.0);
    --colour-red-base: rgba(194, 74, 74, 1.0);
    --colour-red-hover: rgba(177, 63, 63, 1.0);
    --colour-red-shadow: rgba(158, 54, 54, 1.0);
}

/* Descriptive background colour utility classes
   ========================================================================== */

.u-colourBgGrayShark { background: var(--colour-gray-shark); }
.u-colourBgGrayTuna { background: var(--colour-gray-tuna); }
.u-colourBgGrayTrout { background: var(--colour-gray-trout); }
.u-colourBgGrayRegent { background: var(--colour-gray-regent); }
.u-colourBgGrayGhost { background: var(--colour-gray-ghost); }
.u-colourBgGrayMystic { background: var(--colour-gray-mystic); }
.u-colourBgWhiteCatskill { background: var(--colour-white-catskill); }
.u-colourBgWhiteAlabaster { background: var(--colour-white-alabaster); }
.u-colourBgWhite { background: var(--colour-white); }
.u-colourBgGreenAccent { background: var(--colour-green-accent); }
.u-colourBgGreenBase { background: var(--colour-green-base); }
.u-colourBgGreenHover { background: var(--colour-green-hover); }
.u-colourBgGreenShadow { background: var(--colour-green-shadow); }
.u-colourBgBlueAccent { background: var(--colour-blue-accent); }
.u-colourBgBlueBase { background: var(--colour-blue-base); }
.u-colourBgBlueHover { background: var(--colour-blue-hover); }
.u-colourBgBlueShadow { background: var(--colour-blue-shadow); }
.u-colourBgOrangeAccent { background: var(--colour-orange-accent); }
.u-colourBgOrangeBase { background: var(--colour-orange-base); }
.u-colourBgOrangeHover { background: var(--colour-orange-hover); }
.u-colourBgOrangeShadow { background: var(--colour-orange-shadow); }
.u-colourBgRedAccent { background: var(--colour-red-accent); }
.u-colourBgRedBase { background: var(--colour-red-base); }
.u-colourBgRedHover { background: var(--colour-red-hover); }
.u-colourBgRedShadow { background: var(--colour-red-shadow); }

/**
* Functional colours
*/
:root {
    --colour-brand-green: var(--colour-green-base);
    --colour-brand-gray: var(--colour-gray-tuna);
    --colour-base-font: var(--colour-gray-tuna);
    --colour-base-background: var(--colour-white-catskill);
    --colour-base-link-default: var(--colour-blue-base);
    --colour-base-link-hover: var(--colour-blue-hover);
    --colour-base-highlight: var(--colour-green-base);
    --colour-form-field: var(--colour-white);
}

/* Functional colour utility classes
   ========================================================================== */

.u-colourBgBrandGreen { background: var(--colour-brand-green); }
.u-colourBgBrandGray { background: var(--colour-brand-gray); }
.u-colourBgBaseFont { background: var(--colour-base-font); }
.u-colourBgBaseBackground { background: var(--colour-base-background); }
.u-colourBgBaseLinkDefault { background: var(--colour-base-link-default); }
.u-colourBgBaseLinkHover { background: var(--colour-base-link-hover); }
.u-colourBgBaseHighlight { background: var(--colour-base-highlight); }
.u-colourBgFormField { background: var(--colour-form-field); }

/**
* Base colours
*/
body {
    background: var(--colour-base-background);
    color: var(--colour-base-font);
}
