/**
 * Typography
 *
 * Typographical features.
 */

/**
 * Base type variables
 */
:root {
    --font-family-monospaced: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-family-proportional: "ProximaNova", sans-serif;
    --font-family-proportional-light: "ProximaNova-Light", sans-serif;
    --font-family-proportional-semibold: "ProximaNova-Semibold", sans-serif;
    --font-size: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-small: 1.4rem;
    --line-height: 1.5;
    --line-height-tighter: 1.4;
    --line-height-looser: 1.8;
}

/**
 * Base font size, for easy to understand values
 *
 * See: http://snook.ca/archives/html_and_css/font-size-with-rem
 */
html {
    font-size: 62.5%;
}

/**
 * Default font family, sizing and line-height
 */
body {
    font-family: var(--font-family-proportional);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

/**
 * Headings
 *
 * Flatten headings and use classes, as visual designs rarely fit with an actual
 * document outline and ability to override is helpful.
 */

h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size);
}

/* Paragraphs
   ========================================================================== */

/**
 * Placeholder. Nothing set explicitly on paragraphs yet.
 */

/* Quotes
   ========================================================================== */

/**
 * Blockquote
 *
 * Blockquotes have a keyline with spacing added to the left.
 *
 * There are currently no specific styles for `<q>`. Rely on browser defaults.
 * All supported browsers should automatically add appropriate quotemarks.
 *
 * TODO: Stop using raw colour variable here.
 */
blockquote {
    border-left: .25em solid var(--colour-base-highlight);
    padding-left: 1em;
}

/* Lists
   ========================================================================== */

/**
 * Unordered list
 *
 * They're used too much outside standard content for element to take much
 * styling, so encapsulated within `.Copy`.
 */

/**
 * Ordered list
 */
ol {
    margin-left: 0;
}

ol li {
    list-style-type: decimal;
    margin-left: 1.8em;
}

/**
 * Definition list
 */
dt {
    font-family: var(--font-family-proportional-semibold);
}

/* Tables
   ========================================================================== */

/**
 * Plain table
 *
 * TODO: Encapsulate (look at Rejn/SUIT for examples).
 * TODO: Stop using raw colour variable here.
 */
table {
    width: 100%;
}

th,
td {
    padding: .5rem 1rem;
    text-align: left;
}

thead {
    background: var(--colour-base-highlight);
    border-bottom: 1px solid var(--colour-gray-regent);
}

th,
td {
    text-align: left;
}

th {
    font-weight: 500;
}

/* Zebra striping */
tbody tr:nth-child(even) {
    background: var(--colour-green-accent);
}

/* Inline elements
   ========================================================================== */

/**
 * Standard link
 */
a {
    color: var(--colour-base-link-default);
}

a:hover {
    color: var(--colour-base-link-hover);
}
