/**
 * Typography
 *
 * Typographical features.
 */

/**
 * Base type variables
 */
:root {
    --font-family-monospaced: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-family-proportional: "ProximaNova", sans-serif;
    --font-family-proportional-light: "ProximaNova-Light", sans-serif;
    --font-family-proportional-semibold: "ProximaNova-Semibold", sans-serif;
    --font-size: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-small: 1.4rem;
    --line-height: 1.5;
}

/**
 * Base font size, for easy to understand values
 *
 * See: http://snook.ca/archives/html_and_css/font-size-with-rem
 */
html {
    font-size: 62.5%;
}

/**
 * Default font family, sizing and line-height
 */
body {
    font-family: var(--font-family-proportional);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

/**
 * Code
 *
 * TODO: Tidy this up and work out whether to hang on class or tag(s).
 */
code {
    background: var(--colour-gray-mystic);
    border-radius: 3px;
    display: inline-block;
    padding: .15em .5em .0;
    white-space: nowrap;
}

pre {
    background: var(--colour-gray-mystic);
    border-radius: 3px;
    padding: 1em;
}

pre code {
    background: none;
    direction: ltr;
    display: inline-block;
    padding: 0;
    text-align: left;
}

.Code-comment {
    color: var(--colour-gray-mystic);
}

/* Headings
   ========================================================================== */

/**
 * Flatten headings and use classes, as visual designs rarely fit with an actual
 * document outline and ability to override is helpful.
 */
h1,
.u-heading1 {
    font-family: 'ProximaNova-Light';
    font-size: 3.2rem;
    font-weight: 300;
}

h2,
.u-heading2 {
    font-family: 'ProximaNova-Light';
    font-size: 2.5rem;
    font-weight: 300;
}

h3,
.u-heading3 {
    font-family: 'ProximaNova';
    font-size: 1.9rem;
    font-weight: 400;
}

h4,
.u-heading4 {
    font-family: 'ProximaNova-Semibold';
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

h5,
.u-heading5 {
    font-family: 'ProximaNova-Semibold';
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

h6,
.u-heading6 {
    font-family: 'ProximaNova-Semibold';
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Paragraphs
   ========================================================================== */

/**
 * Placeholder. Nothing set explicitly on paragraphs yet.
 */

/* Quotes
   ========================================================================== */

/**
 * Blockquote
 *
 * Blockquotes have a keyline with spacing added to the left.
 *
 * There are currently no specific styles for `<q>`. Rely on browser defaults.
 * All supported browsers should automatically add appropriate quotemarks.
 *
 * TODO: Stop using raw colour variable here.
 */
blockquote {
    border-left: .25em solid var(--colour-green);
    padding-left: 1em;
}

/* Lists
   ========================================================================== */

/**
 * Unordered list
 *
 * They're used too much outside standard content for element to take much
 * styling, so encapsulated within `.Copy`.
 */

/**
 * Ordered list
 */
ol {
    margin-left: 1.4em;
}

ol li {
    list-style-type: decimal;
    margin-left: 1.8em;
}

/**
 * Definition list
 */
dt {
    font-family: 'ProximaNova-Semibold';
}

/* Tables
   ========================================================================== */

/**
 * Plain table
 *
 * TODO: Encapsulate (look at Rejn/SUIT for examples).
 * TODO: Stop using raw colour variable here.
 */
table {
    width: 100%;
}

th,
td {
    padding: .5rem 1rem;
    text-align: left;
}

thead {
    background: var(--colour-green-light);
    border-bottom: 1px solid var(--colour-gray-regent);
}

th,
td {
    text-align: left;
}

th {
    font-weight: 500;
}

/* Zebra striping */
tbody tr:nth-child(even) {
    background: var(--colour-green-light);
}

/* Inline elements
   ========================================================================== */

/**
 * Standard link
 */
a {
    color: var(--colour-base-link-default);
}

a:hover {
    color: var(--colour-base-link-hover);
}

/* Text utilities
   ========================================================================== */

/**
 * Weights
 *
 */
.u-textLight {
    font-family: var(--font-family-proportional-light);
    font-weight: 300;
}

.u-textRegular {
    font-family: var(--font-family-proportional);
    font-weight: 400;
}

.u-textSemibold {
    font-family: var(--font-family-proportional-semibold);
    font-weight: 500;
}

.u-textBold {
    font-family: var(--font-family-proportional);
    font-weight: 700;
}

/**
 * Default type
 *
 * Standard body copy sizing, in case it needs specifying explicitly.
 */
.u-textDefault {
    font-size: var(--font-size);
}

/**
 * Large type
 *
 * For more important body copy.
 */
.u-textLarge {
    font-size: var(--font-size-large);
}

/**
 * Small type
 *
 * For less important body copy.
 */
.u-textSmall {
    font-size: var(--font-size-small);
}

/**
 * Label type
 *
 * For form labels.
 *
 * TODO: Move to forms later.
 */
.u-textLabel {
    font-size: var(--font-size-small);
    text-transform: uppercase;
}

/**
 * Copy
 *
 * Wrapper for blocks of copy. This approach avoids having to set margins on
 * elements at the root level, reducing countless resets.
 */

/**
 * Copy lobotomized owl
 *
 * See: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
.Copy * + * {
    margin-top: 1.6rem;
}

/**
 * Copy heading follow-on fix
 */
.Copy h1 + h2,
.Copy h2 + h3,
.Copy h3 + h4,
.Copy h4 + h5,
.Copy h5 + h6 {
    margin-top: 0;
}

/**
 * Copy unordered list
 *
 * Set up margins and styling on lists within .Copy. Used too often outside this
 * context to have much default styling.
 */
.Copy ul li {
    list-style-type: disc;
    margin-left: 1.8em;
}

.Copy li > ul {
    margin-top: 1.6rem; /* fixes nested unordered list */
}

/**
 * Copy ordered list
 */
.Copy li > ol {
    margin-top: 1.6rem; /* fixes nested ordred list */
}

/**
 * Copy definition list
 */
.Copy dd {
    margin-top: 0;
}
